div.content {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    text-align: left;
    line-height: 1em;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
}

div.title {
    display: inline-block;
    width: inherit;
}

.col-name {
    float: left;
    font-style: italic;
    margin-bottom: 15px;
    padding-left: 15px;
    width: -webkit-calc(85% - (30px / 2));
    width: calc(85% - (30px / 2));
}

.col-year {
    float: right;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 15px;
    width: -webkit-calc(15% - (30px / 2));
    width: calc(15% - (30px / 2));
}

.col-desc {
    position: relative;
    font-size: 0.8em;
    margin-bottom: 15px;
    padding-left: 45px;
}

.cv-col-wrapper {
    font-size: 15px;
    color: #828282;
    margin-left: -15px; }

.cv-col-l {
    float: left;
    margin-bottom: 15px;
    padding-left: 15px; }

.cv-col-r {
    float: right;
    margin-bottom: 15px;
    padding-right: 15px; }

.cv-col-1 {
    text-align: left;
    width: -webkit-calc(85% - (30px / 2));
    width: calc(85% - (30px / 2)); }

.cv-col-2 {
    width: -webkit-calc(15% - (30px / 2));
    width: calc(15% - (30px / 2)); }

.cv-col {
    font-size: 0.8em;
    padding-left: 15px;
    text-align: left;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); }

